{% extends "admin_site/base.html" %}
{% block content %}
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">商铺申请审核记录</div>
    <table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr style="background-color: darkgray;">
        <th>店铺标题</th>
        <th>店铺主人</th>
        <th>联系方式</th>
        <th>创建时间</th>
        <th>分享链接</th>
        <th>查看详情</th>
        </tr>
    </thead>
    <tbody>
        {% for item in template_args.list_show %}
        <tr>
            <th>{{ item.title }}</th>
            <th>{{ item.name }}</th>
            <th>{{ item.tel }}</th>
            <th>{{ item.create_at }}</th>
            <th><button class="btn btn-primary" data-toggle="modal" data-target="#share_link_modal" onclick=hintsharelink("{{item.uuid}}")>获取链接</button></th>
            <th><button class="btn btn-primary" data-toggle="modal" data-target="#detail_modal" onclick=showdetail("{{item.id}}")>查看详情</button></th>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>


<div tabindex="-1" class="modal fade" id="share_link_modal" style="display: none;" data-width="768">
	<div class="modal-header">
		<button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
		<h4 class="modal-title">店铺分享链接</h4>
	</div>
	<div class="modal-body">
		<p id="share"></p>
	</div>
	<div class="modal-footer">
	  <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
	</div>
</div>


<div tabindex="-1" class="modal fade" id="detail_modal" style="display:none;" data-width="760">
 <div class="modal-header">
   <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
   <h4 class="modal-title">店铺详情</h4>
 </div>
 <div class="modal-body">
   <div class="form-horizontal" id="detail_form">
      <div class="form-group">
         <div class="col-sm-12">
            <input type="hidden" class="form-control" name="id">
         </div>
      </div>
      <div class="form-group">
          <label for="code" class="col-sm-2 control-label">姓名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="name" readonly>
          </div>
      </div>
      <div class="form-group">
          <label for="code" class="col-sm-2 control-label">店铺名称</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="title">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">联系方式</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="tel">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">邮件</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="email">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">身份证</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="cre_id">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">职业</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="company">
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">下级店铺数量</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="subshop_count" readonly>
          </div>
      </div>
      <div class="form-group">
          <label class="col-sm-2 control-label">级别</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" name="level">
          </div>
      </div>
    </div>
  </div>
    <div class="modal-footer">
      <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
      <button class="btn btn-primary" type="button" onclick="doedit()">修改</button>
    </div>
</div>
{% endblock %}


{% block script %}
<script type="text/javascript">
})

function hintsharelink(uuid)
{
		link = "http://meirong.yourutils.com/admin_site/shop_detail?uuid=" + uuid;
		$("#share").text(link).css("color","blue")
		return;
}

function showdetail(id){
   $.ajax({
    type:'GET',
    url:'/admin_site/shop_detail',
    dataType:'json',
    data:{'id':id},
    success:function(data){
      if(data.retcode=="0"){
				  var form = $("#detail_form");
  				form.find("input[name='id']").val(id);
  				form.find("input[name='name']").val(data.name);
  				form.find("input[name='title']").val(data.title);
  				form.find("input[name='tel']").val(data.tel);
  				form.find("input[name='email']").val(data.email);
  				form.find("input[name='company']").val(data.company);
  				form.find("input[name='cre_id']").val("none");
  				form.find("input[name='subshop_count']").val(data.subshop_count);
  				form.find("input[name='level']").val(data.level);
      }else{
        alert(data.retmsg);
      }
    },
    error:function(){
      alert("系统异常，请稍后再试！")
    }
  })
}


function doedit(){
	
		var id = $("#detail_form input[name='id']").val();
		var title = $("#detail_form input[name='title']").val();
		var tel = $("#detail_form input[name='tel']").val();
		var email = $("#detail_form input[name='email']").val();
		var company = $("#detail_form input[name='company']").val();
		var cre_id = $("#detail_form input[name='cre_id']").val();
		var level = $("#detail_form input[name='level']").val();

		
	 if( title.length == 0 )
	 {
	 		alert("标题不能为空")
	 		return;
	 }
	 
	 if( tel.length != 11 )
	 {
			alert("手机格式错误")
	 		return;
	 }
	 
	 if( email.length == 0  )
	 {
			alert("必须输入邮箱")
	 		return;
	 }
	 
	 var iLevel = parseInt(level)
	 if( iLevel < 0 || iLevel > 10 )
	 {
			alert("级别不能小于0或者大于10")
	 		return;
	 }


   $.ajax({
    type:'POST',
    url:'/admin_site/edit_shop',
    dataType:'json',
    data:{'csrfmiddlewaretoken':'{{csrf_token}}', 'id':id,'title':title,'tel':tel,'email':email,'company':company,'cre_id':cre_id,'level':level},
    success:function(data){
      if(data.retcode=="0"){
				alert("更新成功");
				window.location.reload(true);
      }else{
        alert(data.retmsg);
      }
    },
    error:function(){
      alert("系统异常，请稍后再试！")
    }
  })
}
  </script>
{% endblock %}