#login-form{
  width: 500px;
  border:1px solid #cccccc;
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -250px
}
#login-form > h3{
  margin-bottom: 30px;
}
ul.errorlist {
margin: 1px 0 0 0;
padding: 0;
}
.errorlist li {
background-color: red;
color: white;
display: block;
font-size: 10px;
margin: 0 0 3px;
padding: 4px 5px;
border-radius: 4px;
}
